We are using pandas' read_excel method to read this data. In its simlest format, we are just passing the filename of the Excel dataset we want to the read_excel method. Pandas converts the data from the Excel file into a pandas Dataframe. The pandas internally uses the Excel read library for this. Here, pandas has read the data and created a tabular data object in the memory, which we can access, explore and manipulate in our code.

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
%cd /content/drive/My Drive/Colab Notebooks

/content/drive/My Drive/Colab Notebooks

In [5]:
import pandas as pd
df = pd.read_excel('IMDB.xlsx')
df.head()

   X                    Title  Rating  ...      Domestic    Foreign      Worldwide
0  1  12 Years a Slave (2013)     8.1  ...  $56,671,993   131061209  $187,733,202
1  2         127 Hours (2010)     7.6  ...  $18,335,230    42403567   $60,738,797
2  3             50/50 (2011)     7.7  ...  $35,014,192     4173591   $39,187,783
3  4        About Time (2013)     7.8  ...  $15,322,921    71777528   $87,100,449
4  5             Amour (2012)     7.9  ...   $6,739,492    13100000   $19,839,492

[5 rows x 58 columns]

**Specifying which sheet should be read**

To specify which sheet should be read, pass the value to the sheetname option. We will simply pass 0, which is the index value of the first sheet in the Excel sheet

In [6]:
df = pd.read_excel('IMDB.xlsx',sheet_name=0)
df.head()

   X                    Title  Rating  ...      Domestic    Foreign      Worldwide
0  1  12 Years a Slave (2013)     8.1  ...  $56,671,993   131061209  $187,733,202
1  2         127 Hours (2010)     7.6  ...  $18,335,230    42403567   $60,738,797
2  3             50/50 (2011)     7.7  ...  $35,014,192     4173591   $39,187,783
3  4        About Time (2013)     7.8  ...  $15,322,921    71777528   $87,100,449
4  5             Amour (2012)     7.9  ...   $6,739,492    13100000   $19,839,492

[5 rows x 58 columns]

**Read data from multiple sheets**

Excel dataset files come with data and multiple sheets. In fact this is one of the main reasons a lot of users prefer Excel over csv file. Luckily pandas supports the reading of data from multiple sheets.

**Finding out sheet names**

To find out the name of a sheet, pass the Excel file to the ExcelFile class and call the sheet_names properly on the resulting object. The class prints the sheet names from the Excel file as a list. If you want to read data from a sheet named data-movies, we will write codes about that.

In [7]:
xls_file = pd.ExcelFile('IMDB.xlsx')
xls_file.sheet_names

['movies', 'by genre']

Next we will call the parse method on the Excel file object we created earlier and pass in the sheet names we want to read. We then assign the result to 2 seperate DataFrame objects.

In [8]:
df1 = xls_file.parse('movies')
df2 = xls_file.parse('by genre')
df1.head()

   X                    Title  Rating  ...      Domestic    Foreign      Worldwide
0  1  12 Years a Slave (2013)     8.1  ...  $56,671,993   131061209  $187,733,202
1  2         127 Hours (2010)     7.6  ...  $18,335,230    42403567   $60,738,797
2  3             50/50 (2011)     7.7  ...  $35,014,192     4173591   $39,187,783
3  4        About Time (2013)     7.8  ...  $15,322,921    71777528   $87,100,449
4  5             Amour (2012)     7.9  ...   $6,739,492    13100000   $19,839,492

[5 rows x 58 columns]

We now have our data from 2 sheets in 2 seperate Dataframes as shown in the above tabke

**Choose header or column labels**

Pandas will, by default set the column names or header to the values from the first non-blank row in teh Excel file. However, we can change this behavior.

In [10]:
df = pd.read_excel('IMDB.xlsx',sheet_name=1, header=3)
df.head()

   3            50/50 (2011)  7.7  ...   $35,014,192     4173591   $39,187,783
0  4       About Time (2013)  7.8  ...   $15,322,921    71777528   $87,100,449
1  5            Amour (2012)  7.9  ...    $6,739,492    13100000   $19,839,492
2  6             Argo (2012)  7.7  ...  $136,025,503    96300000  $232,325,503
3  7          Arrival (2016)  8.0  ...  $100,546,139   102842047  $203,388,186
4  9  Before Midnight (2013)  7.9  ...    $8,114,627     3061842   $11,176,469

[5 rows x 58 columns]

In the above table we are passing the value 3 to the header option, which tells the read_excel method to set the header names from index row 3.

**No header**

We can also tell read_excel to ignore the header and treat all rows as records. This is handy whenever Excel has no header row. To achieve this we set header to None.

In [11]:
df = pd.read_excel('IMDB.xlsx',sheet_name=1, header=None)
df.head()

  0                        1       2   ...            55         56             57
0  X                    Title  Rating  ...      Domestic    Foreign      Worldwide
1  1  12 Years a Slave (2013)     8.1  ...  $56,671,993   131061209  $187,733,202
2  2         127 Hours (2010)     7.6  ...  $18,335,230    42403567   $60,738,797
3  3             50/50 (2011)     7.7  ...  $35,014,192     4173591   $39,187,783
4  4        About Time (2013)     7.8  ...  $15,322,921    71777528   $87,100,449

[5 rows x 58 columns]

**Skipping rows at the begining**

to skip rows at the begining of a file, we simply set skiprows to the number of rows we want to skip

In [12]:
df = pd.read_excel('IMDB.xlsx',sheet_name=1, skiprows=7)
df.head()

    7  ...  $203,388,186
0   9  ...   $11,176,469
1  10  ...  $657,818,612
2  11  ...  $103,215,094
3  12  ...  $329,398,046
4  13  ...   $44,495,281

[5 rows x 58 columns]

**Skipping rows at the end**

We will use the skip_footer.

In [15]:
df = pd.read_excel('IMDB.xlsx',sheet_name=1, skipfooter=10)
df.head()

   X                    Title  Rating  ...      Domestic    Foreign      Worldwide
0  1  12 Years a Slave (2013)     8.1  ...  $56,671,993   131061209  $187,733,202
1  2         127 Hours (2010)     7.6  ...  $18,335,230    42403567   $60,738,797
2  3             50/50 (2011)     7.7  ...  $35,014,192     4173591   $39,187,783
3  4        About Time (2013)     7.8  ...  $15,322,921    71777528   $87,100,449
4  5             Amour (2012)     7.9  ...   $6,739,492    13100000   $19,839,492

[5 rows x 58 columns]

**Choosing colums**

We can also choose to read only a subset of columns. This is done by setting the index_col option to a numeric value, which will lead to columns being read from 0 to whichever index we set the parse columns value to. We will set index_col=2. In this instance which reads the first 3 columns in the Excelfile.

In [24]:
df = pd.read_excel('IMDB.xlsx',  index_col = 2)
df.head()

        X                    Title  ...    Foreign      Worldwide
Rating                              ...
8.1     1  12 Years a Slave (2013)  ...  131061209  $187,733,202
7.6     2         127 Hours (2010)  ...   42403567   $60,738,797
7.7     3             50/50 (2011)  ...    4173591   $39,187,783
7.8     4        About Time (2013)  ...   71777528   $87,100,449
7.9     5             Amour (2012)  ...   13100000   $19,839,492

[5 rows x 57 columns]

**Setting an index while reading data**

By default read_excel lables zeros with the numeric index, starting with 0. We can set our index or row lables to a higher value or to our choosing. To do this, we will pass a column name from our dataset to the index_col option.

In [34]:
df = pd.read_excel('IMDB.xlsx',  index_col = 'Title')
df.head()

                         X  Rating  ...    Foreign      Worldwide
Title                               ...
12 Years a Slave (2013)  1     8.1  ...  131061209  $187,733,202
127 Hours (2010)         2     7.6  ...   42403567   $60,738,797
50/50 (2011)             3     7.7  ...    4173591   $39,187,783
About Time (2013)        4     7.8  ...   71777528   $87,100,449
Amour (2012)             5     7.9  ...   13100000   $19,839,492

[5 rows x 57 columns]