In this video we will learn about various methods for renaming column labels in pandas. We will learn how to rename columns both after reading in data and while reading in data, and we will see how to rename either all or specific columns.

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
%cd /content/drive/My Drive/Colab Notebooks

/content/drive/My Drive/Colab Notebooks

In [3]:
import pandas as pd

There are a few ways by which we can rename the clumns in a pandas DataFrame. One of the ways is to rename the columns while reading in the data from the dataset. To do this we need to pass the column names as a list to the names parameter of the read_csv method.

In [4]:
list_columns= ['Date', 'Region ID', 'Region Name', 'State', 'City', 'County', 'Size Rank', 'Price']
data = pd.read_csv('data-zillow.csv', names = list_columns)
data.head()

         Date Region ID   Region Name  ...        County Size Rank   Price
0        Date  RegionID    RegionName  ...        County  SizeRank    Zhvi
1  2017-05-31      6181      New York  ...        Queens         0  672400
2  2017-05-31     12447   Los Angeles  ...   Los Angeles         1  629900
3  2017-05-31     17426       Chicago  ...          Cook         2  222700
4  2017-05-31     13271  Philadelphia  ...  Philadelphia         3  137300

[5 rows x 8 columns]

In the above example, we first created a list of column names we wanted , this should be the sanme number as the number of columns in the actual dataset. We then pass the list to the names parameter in the read_csv method. We then wee that we have the column anmes we wanted and se the read_csv method has changed the column names from what was there by default in the text file to the names we supplied.

We can also rename column names afer the data has been read. Let's read the dataset in again from the csv file, but this time without supplying any column anmes. We can rename columns by using the rename method.

In [5]:
data.columns

Index(['Date', 'Region ID', 'Region Name', 'State', 'City', 'County',
       'Size Rank', 'Price'],
      dtype='object')

Now we call the rename method on the DataFrame and pass the column names, old and new values to the columns parameter.

In [8]:
data.rename(columns={'Region Name': 'Region', 'Metro': 'City'}, inplace=True)

In the above dode, we change only a few column names rather than all of the,. Let's call the columns property again to see if the column names have really been changed.

In [9]:
data.columns

Index(['Date', 'Region ID', 'Region', 'State', 'City', 'County', 'Size Rank',
       'Price'],
      dtype='object')

In [11]:
# We can also rename all the columns after the data has been read

data.columns=['Time', 'Region ID', 'Region Name', 'State', 'City', 'County', 'Size Rank', 'Price']

We have set the clumns property to a list of names to which we want all the columns to be renamed

In [12]:
data.columns

Index(['Time', 'Region ID', 'Region Name', 'State', 'City', 'County',
       'Size Rank', 'Price'],
      dtype='object')