In this new section - Data selection, we will learn about advanced techniques of data selection with pandas, how to select a subset of data, how to select multiple rows and columns from a dataset, how to do sorting on a pandas DataFrame or a series, how to filter roles of a pandas DataFrame and also learn how to apply multiple filters to a pandas DataFrame. We will also loook at how to use the axis parameter in pandas and the uses of string methods in pandas. Finally we will learn how to change the datatype of a pandas series.

We will be suing a real dataset from zillow.com, an online real estate marketplace that releases house price datasets as part of their research effort.

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
%cd /content/drive/My Drive/Colab Notebooks

/content/drive/My Drive/Colab Notebooks

In [3]:
# We will import the pandas modules
import pandas as pd

We will then read in our dataset. Since it is a CSV file, we will be using a pandas'read_csv method for this. We will pass the file name with a comma as a separator to the read_csv method and we will create a DataFrame out of this data which we name data

In [4]:
data= pd.read_csv('data-zillow.csv', sep=',')
data.head()

         Date  RegionID    RegionName  ...        County SizeRank    Zhvi
0  2017-05-31      6181      New York  ...        Queens        0  672400
1  2017-05-31     12447   Los Angeles  ...   Los Angeles        1  629900
2  2017-05-31     17426       Chicago  ...          Cook        2  222700
3  2017-05-31     13271  Philadelphia  ...  Philadelphia        3  137300
4  2017-05-31     40326       Phoenix  ...      Maricopa        4  211300

[5 rows x 8 columns]

The DataFrame is created and we did read a few records from the dataset by performing the data.head() method on the DataFrame. This will give the output with columns, such as Date, and some location fields, such as RegionName, State, Metro and Country. The last column title Zhvi is a Zillow term and is the mean house price of that particular region.